<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <script src="/js/jquery-3.4.0.min.js"></script>

</head>
<body>
<h1>Калькулятор</h1>
<div id="form_data">
    <form th:action="@{/calc}" th:object="${data}" method="get">
        <p>сумма кредита</p>
        <input placeholder="рублей" type="number" name="creditAmount"><br><br>
        <p>проценты</p>
        <input placeholder="проц." type="number" name="interestRate"><br><br>
        <p>количество месяцев</p>
        <input placeholder="" type="number" name="quantityMonths"><br><br>
        <p>начало выплаты</p>
        <input placeholder="" type="date" name="date"><br><br>
        <input type="submit" value="рассчитать">
    </form>

</div>

</body>
</html>